*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:linear-gradient(135deg,#0f172a,#1d4ed8,#2563eb);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:25px;
}

.card{
    width:390px;
    background:rgba(255,255,255,.96);
    backdrop-filter:blur(15px);
    border-radius:28px;
    padding:30px;
    text-align:center;
    box-shadow:0 25px 60px rgba(0,0,0,.35);
    animation:fadeUp .8s;
}

.logo{
    width:180px;
    display:block;
    margin:auto;
    margin-bottom:18px;
}

h2{
    color:#0f172a;
    font-size:36px;
    line-height:1.2;
    font-weight:800;
    margin-bottom:10px;
}

p{
    color:#f97316;
    font-size:22px;
    font-weight:bold;
    margin-bottom:20px;
}

.btn{
    display:block;
    text-decoration:none;
    color:#fff;
    padding:17px;
    border-radius:14px;
    margin:14px 0;
    font-size:22px;
    font-weight:bold;
    transition:.35s;
}

.btn:hover{
    transform:translateY(-4px) scale(1.03);
    box-shadow:0 12px 25px rgba(0,0,0,.25);
}

.call{
    background:linear-gradient(90deg,#16a34a,#22c55e);
}

.whatsapp{
    background:linear-gradient(90deg,#22c55e,#25D366);
}

.facebook{
    background:linear-gradient(90deg,#1877F2,#3b82f6);
}

.map{
    background:linear-gradient(90deg,#ea4335,#ff5d4d);
}

.website{
    background:linear-gradient(90deg,#0f766e,#14b8a6);
}

.services{
    margin-top:25px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:10px;
}

.services div{
    background:#eef4ff;
    border-radius:10px;
    padding:10px;
    font-weight:700;
    color:#0f172a;
}

.footer{
    margin-top:22px;
    color:#666;
    font-size:15px;
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

@media(max-width:500px){

.card{
    width:100%;
    padding:25px;
}

.logo{
    width:160px;
}

h2{
    font-size:30px;
}

p{
    font-size:18px;
}

.btn{
    font-size:19px;
}

}
